{% extends "base.html" %}
{% load static %}


{% block title %}Scrabble Help Kit - The Words List{% endblock %}
{% block content %}

    <div class="container p-4 my-4 bg-dark text-white rounded">
        Using given scrabble set you can create {{ sorted_common_words|length }} following words:
    </div>

    <div class="container">
        <div class="row">
            {% for word in sorted_common_words %}
                <div class="col-sm-12">
                    <p class="h1 text-left">{{ forloop.counter }}. <span class="badge bg-warning">{{ word }}</span></p>
                </div>
            {% endfor %}
        </div>
    </div><br>

    <div class="container">
        <p>
            <a class="h3 btn btn-dark text-decoration-none text-white" href="{% url 'letters_dict' %}">Try again</a>
        </p>
    </div>

{% endblock %}