{% extends "base.html" %}

{% block title %}Scrabble Help Kit{% endblock %}
{% block content %}

    <div class="container h5 text-primary text-left">
        <ul class="text-danger">
            <li>Click the button at the bottom of the page</li>
            <li>Fill the number of letters you need (your scrabble set letters + the letters on the scrabble board)</li>
            <li>Then enter the letters of your scrabble set + letters from the scrabble board you want to merge with</li>
            <li>We'll show you the words you can create using given scrabble set!</li>
        </ul>
    </div>

    <div class="container p-5 my-5 bg-dark text-white rounded">
        <p>
            The list below is the full scrabble game set. Every letter has its own amount of the tiles.<br><br>
            For example letter "A" has 9 tiles in scrabble set. <br><br>There are 2 blank tiles at the end of list
            (they are marked as "-"). <br><br>You are not allowed to exceed the tiles limit of the given letter.
        </p>
    </div>

    <div class="container">
        <div class="row">
            {% for tile in letters_dict %}
                <div class="col-sm-4 col-sm-4 col-sm-4">
                    {% for key, value in tile.all_tiles_set.items %}
                        <p class="h2 text-center"><span class="badge bg-warning">{{ key }}</span> --- {{ value }}</p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="btn btn-dark"><a class="text-decoration-none text-white" href="{% url 'letters_amount' %}">Pick up
            the letters you need</a></div>
        </div>
    <br><br>

    <!--    <script src="scrabble_set.js"></script>-->

{% endblock %}