{% extends "base.html" %}

{% block title %}Scrabble Help Kit - Letters Amount{% endblock %}
{% block content %}

    <div class="container p-4 my-4 bg-dark text-white rounded">
        <h5><b>Decide in here how many tiles you need to create a word:</b></h5>
    </div>

    {% if messages %}
        {% for message in messages %}
            <p class="container">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="container mb-3 mt-3">
        <form method="post">
            {% csrf_token %}
            {% if letters_amount.errors %}
                {% for field in letters_amount %}
                    {% for error in field.errors %}
                        <div class="container p-3 my-2 bg-warning rounded">
                            <strong>{{ error|escape }}</strong>
                        </div>
                   {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="container p-3 my-2 bg-warning rounded">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <label class="form-label">Enter your tiles set amount:</label>
                <p>{{ letters_amount.user_word_length }}</p><br>
            <label class="form-label">Enter board tiles amount:</label>
                <p>{{ letters_amount.board_tiles }}</p><br>
            <input class="btn btn-dark" type="submit" value="Submit">
        </form>
    </div>

{% endblock %}