<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description"
          content="App that makes scrabble game easier">
    <title>Scrabble Help Kit - letters amount</title>
</head>

<body>
    <div>
        <p><b>Decide in here how many tiles you need to create a word (usually there are 7 tiles).</b></p>
    </div>
    <div class="boxes">
        <form method="post">
            {% csrf_token %}
            {% if letters_amount.errors %}
                {% for field in letters_amount %}
                    {% for error in field.errors %}
                        <div class="form-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                   {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="form-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <br>
            <label>Enter the tiles amount:</label>
            <p>{{ letters_amount.word_length }}</p><br>
            <input class="button" type="submit" value="Submit">
        </form>
    </div>

    {% if messages %}
        {% for message in messages %}
            <p class="form-error">{{ message }}</p>
        {% endfor %}
    {% endif %}


</body>
</html>