{% extends "base.html" %}

{% block title %}Scrabble Help Kit - Your Scrabble Set{% endblock %}
{% block content %}

    <div class="container p-4 my-4 bg-dark text-white rounded">
        <h5><b>Enter in here all the {{ scrabble_set_length.word_length }} letters.
            In case of a blank tile enter "-" (a dash mark).</b></h5>
    </div><br>

    {% if messages %}
        {% for message in messages %}
            <p class="container">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="container">
        <h6><b>Your tiles are:</b></h6>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ formset.management_form }}
                {% for dict in formset.errors %}
                    {% for error in dict.values %}
                        <div class="container p-3 my-2 bg-warning rounded">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                    {% if formset.non_form_errors %}
                        <div class="container p-3 my-2 bg-warning rounded">
                            <strong>{{ formset.non_form_errors }}</strong>
                        </div>
                    {% endif %}
                <br>

                {% for form in formset %}
                    <label>Enter the {{ forloop.counter }}. letter:</label>
                    {{ form.tile }}<br><br>
                {% endfor %}
                <input class="h3 btn btn-dark" type="submit" value="Submit">
        </form>
    </div><br>

    <div class="container">
        <p>You can make a correction coming back to the
            <a class="h3 btn btn-dark text-decoration-none text-white" href="{% url 'letters_amount' %}">
                previous page</a>.
        </p>
    </div>

<!--    <script src="scrabble_set.js"></script>-->

{% endblock %}