{% extends "base.html" %}

{% block title %}Scrabble Help Kit - Your Scrabble Set{% endblock %}
{% block content %}

    <div class="container p-4 my-4 bg-dark text-white rounded">
        <h5><b>Enter in here all the {{ scrabble_set_length.word_length }} letters.
            In case of a blank tile enter "-" (a dash mark).</b></h5>
    </div><br>

    {% if messages %}
        {% for message in messages %}
            <p class="container">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <div class="container">
        <h6><b>Your tiles are:</b></h6>
    </div>

    <div class="container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ user_formset.management_form }}
                {% for dict in user_formset.errors %}
                    {% for error in dict.values %}
                        <div class="container p-3 my-2 bg-warning rounded">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                    {% if user_formset.non_form_errors %}
                        <div class="container p-3 my-2 bg-warning rounded">
                            <strong>{{ user_formset.non_form_errors }}</strong>
                        </div>
                    {% endif %}
                <br>

                <div class="container text-danger">
                    <h6>From your scrabble set:</h6>
                </div>
                <br>

                {% for user_form in user_formset %}
                    <label>Enter the {{ forloop.counter }}. letter of your scrabble set:</label>
                    {{ user_form.user_tile }}<br><br>
                {% endfor %}
                <br>

            {{ board_formset.management_form }}
                {% for dict in board_formset.errors %}
                    {% for error in dict.values %}
                        <div class="container p-3 my-2 bg-warning rounded">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                {% endfor %}
                    {% if board_formset.non_form_errors %}
                        <div class="container p-3 my-2 bg-warning rounded">
                            <strong>{{ board_formset.non_form_errors }}</strong>
                        </div>
                    {% endif %}
                <br>

                <div class="container text-danger">
                    <h6>From the board:</h6>
                </div>
                <br>

                {% for board_form in board_formset %}
                    <label>Enter the {{ forloop.counter }}. letter of the board tiles:</label>
                    {{ board_form.board_tile }}<br><br>
                {% endfor %}
            <input class="h3 btn btn-dark" type="submit" value="Submit">
        </form>
    </div><br>

    <div class="container">
        <p>You can make a correction coming back to the
            <a class="h3 btn btn-dark text-decoration-none text-white" href="{% url 'letters_amount' %}">
                previous page</a>.
        </p>
    </div>

<!--    <script src="scrabble_set.js"></script>-->

{% endblock %}